.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    color: red;
}

.form input{
    height: 2rem;
}
.display-cont{
    font-size: 2rem;
}
.show{
    font-size: 1rem;
    margin: 2rem;
    text-align: left;
}